@charset: utf-8 ;
body {
    margin: 0 auto ;
    width: 80% ;
    padding: 0 10px ;
    overflow: auto ;
    background-color: white  ;
    background="http://imgur.com/nNQ4GXc.jsp" ;
}


.head {
    height:80px;
  　line-height:80px;
　  background-color: red ;
}

.head li{
    text-align:center;
    display: inline-block;
}

.title{
    font-size: 100px ;
}

.list{
    text-align:center;
}

button{
    font-size: 20px ;
    font-family: 微軟正黑體 ;
}