@charset: utf-8 ;
body {
    margin: 0 auto ;
    width: 80% ;
    padding: 0 10px ;
    overflow: auto ;
    background-color: white  ;
    background="http://imgur.com/nNQ4GXc.jsp" ;
}


.head {
    height:80px;
  　text-align:center;
  　line-height:80px;
}

.head li{
    display: inline-block;
}

.title{
    font-size: 100px ;
}
