@charset: utf-8 ;
body {
    margin: 0 auto ;
    width: 80% ;
    padding: 0 10px ;
    overflow: auto ;
    background-color: #D0D0D0  ;
    background="http://imgur.com/nNQ4GXc.jsp" ;
}


.head {
    height:80px;
  　line-height:80px;
　  background-color: red ;
}

.head li{
    text-align:center;
    display: inline-block;
}

.title{
    font-size: 100px ;
}

.list{
    text-align:center;
}

button{
    font-size: 20px ;
    font-family: 微軟正黑體 ;
}

.name1{
    font-size:40px;
}

.text{
    font-size:20px;
    line-height:50px ;
}

.name2{
    font-size:30px;
}

.name3{
    font-size:20px;
    font-family: 新細明體 ;
}

.float-button{
    display: none ;
    position: absolute ;
}